.hidden {
  display: none;
}

.show{
  display: block;
}

.under{
  z-index:0;
}
.above{
  z-index:30;
}

.pointer{
  cursor: pointer;
}


.margintop{
  &--l{
    margin-top:5em;
  }

}

.img{
  &__round{
    border-radius: 50%;
  }
}

.mobile{
  &--hidden{
    @include breakpoint(small-max-m){
     display:none;
      }
  }
}

