.contact{
  &__container{
    height:90vh;
    margin: 0 auto;
    padding:1rem;
    width:100%;
    @include flexBox(column, flex-start, center);
    padding-top:6em;
    flex-wrap: wrap;
    @include breakpoint(xxsmall-max){
      @include flexBox(column, center, center);
      max-width:600px;
      width:80%;
    }
 
  }
  &__txt{
    h2{@include breakpoint(xxsmall-max){
      font-size: 30px;
    }}
    p{
      max-width: 60%;
    }
    @include breakpoint(xxsmall-max){

      margin: 0 auto;
    }
    
  }
  &__info{
    margin-top:2em;
    background-color: $color--purple;
    min-width:400px;
    color: $color--white;
    padding:2rem;
    a{
      color: $color--white;
      font:18px;
    }
    &--row{
      
      padding-top:1rem;
      @include flexBox(row, center, space-between);
      @include breakpoint(xxsmall-max){
        @include flexBox(column,flex-start, space-between)
      }
    }
    @include breakpoint(xxsmall-max){
      max-width:500px;
      max-width:100%;
      margin:3rem;
    }
  }
}