.gallery{
  &__row {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
}
&__column {
  flex: 50%;
  max-width: 50%;
  padding: 1rem;
  @include breakpoint(small-max-m){
    flex: 100%;
    max-width: 100%;
  }
  img {
    margin-top: 1rem;
    vertical-align: middle;
    width: 100%;
  }
  a{
    text-decoration: none;
    color: $color--white;
  }
}
&__description{
  display:flex;
  background-color: $color--purple;
  align-items: center;
  flex-wrap: wrap;
  padding:1rem;
  justify-content: space-between;
  h4{
    margin-top:1rem;
  }
}
}
