.homepage{
  &--main{
    padding:2rem;
    display:flex;
    flex-direction: column;
    align-items: center;
  }
  &--about{
  display:flex;
  flex-direction: column;
  align-items: center;
  }
  &--aboutTXT{
    background-color: $color--lightblue;
    padding:5rem;
    margin-top:2rem;
    h2{
      padding:4rem;
    }
  }
  &--herotxt{
    display:flex;
    flex-direction: row;
    z-index: 40;
    padding-bottom:1em;
    //mobil
  }
  &--header{
   
    width: 100%;
    z-index: 40;
  }
  &--header2{
    width: 100%;
    z-index: 40;
  }

  &--img{
    padding:5rem;
    width:100%;
    align-self: center;
    opacity: 90%;
    
    img{
      z-index:1;
      max-height:600px;
      border-radius: 66% 34% 52% 48% / 50% 52% 48% 50%;
    }
    position:absolute;
    top:300px;
    left:10%;
    
    //*lägg in mobilversion här!
  }
}

.arrow{
  margin-top:600px;
  z-index:40;
  left:0;
}
.arrow:hover{
  opacity:20%;
}

// #imgSlide{
//   z-index: 0;
//   width:80%;
//   align-self: center;
//   margin-bottom:2rem;
// }
// .slide__content{
//   padding:1rem;
//   img{
//     min-height:500px;
//     max-height:500px;
    
//   }
// }