.button{
  &--contact{
    width:190px;
    padding:1rem;
    text-align: center;
    border-radius: 25px;
    border: none;
    background-color: $color--black;
   
      color:$color--lightblue;
      text-decoration: none;
      font-weight: bold;
    
  }
  &--contact:hover{
    background-color: $color--white;
    
      color:$color--black;
    
  }
}