.grid{

  &__img{
   max-width:90%;
    //kom ihåg mobil här
    @include breakpoint(large-min){
      max-width: 1170px;
      min-width: 1170px;
    }
  }

  &__category{
  
      width: 90vw;
      margin: 0 auto;
      max-width: 1170px;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
      grid-column-gap: 9rem;
      grid-row-gap: 9em;


      
    &--txt{
      display:flex;
      flex-direction: row;
      justify-content: between;
      align-items: center;
      padding:1rem;
      background-color: $color--purple;
      width:90%;
      margin-bottom:2em;
      margin-top:-1rem;
      h4{
        margin-left:2rem;
        margin-top:10px;
      }
      @include breakpoint(large-min){
      max-width:900px;
      }
    }  
    &--txtabove{
    
     
      @include breakpoint(large-min){
      position: relative;
      top:-8em;
      left:20%;
      padding:1.5rem;
      }
    }
  }
 

}

.skewedbg{
  &--black{
    @include breakpoint(large-min){
      background-color: $color--purple;
      transform: skew(-0deg);
      -moz-transform: skew(10deg);
      -o-transform: skew(10deg);
    }
  }
  &--reverse{
    @include breakpoint(large-min){
    transform: skew(-0deg);
    -moz-transform: skew(-10deg);
    -o-transform: skew(-10deg);
    }
  }
}