.grid{

  &__img{
    max-width: 1170px;
    min-width: 1170px;
    //kom ihåg mobil här
  }

  &__category{
  
      width: 90vw;
      margin: 0 auto;
      max-width: 1170px;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
      grid-column-gap: 9rem;
      grid-row-gap: 9em;


      
    &--txt{
      display:flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      max-width:900px;
    }  
    &--txtabove{
      position: relative;
      top:-7em;
      left:20%;
      padding:1rem;
      
    }
  }
 

}

.skewedbg{
  &--black{
    background-color: $color--fontblack;
    transform: skew(-0deg);
    -moz-transform: skew(10deg);
    -o-transform: skew(10deg);
  }
  &--reverse{
    transform: skew(-0deg);
    -moz-transform: skew(-10deg);
    -o-transform: skew(-10deg);
  }
}